@import "bootstrap";

li {
  list-style-type: none;
}

.reg_container {
  width: 406px;
  max-width: 406px;
  margin: 0 auto;
}

.botnav a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signup {
  padding: 10px 25px 25px;
  background: #fff;
  box-shadow:
          0px 0px 0px 5px rgba( 255,255,255,0.4 ),
          0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;
}

#signup .header {
  margin-bottom: 20px;
}

#signup .header h3 {
  color: #303030;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

#signup .header p {
  color: #8f8f8f;
  font-size: 20px;
  font-weight: 300;
}

#signup .sep {
  height: 1px;
  background: #e8e8e8;
  width: 406px;
  margin: 0px -25px;
}

#signup .inputs {
  margin-top: 25px;
}

#signup .inputs label {
  color: #303030;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 7px;
  display: block;
}

#signup .inputs .checkboxy {
  display: block;
  position: static;
  margin-top: 10px;
  clear: both;
}

#signup .inputs input[type=checkbox] {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

#signup .inputs label.terms {
  float: left;
  font-size: 14px;
  font-style: italic;
}
