<nav class="navbar fixed-bottom navbar-dark bg-dark botnav">
  <a class="text-center text-primary" style="font-size: x-large">Создано студентом МГТУ им. Баумана Белых Семёном Copyright &copy; 2020</a>
</nav>